@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: "montserrat" !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*Главная, Header, Footer*/

* {
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

input {
  outline: none;
}

.container {
  width: 1330px;
  padding: 0 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
}

.top-banner {
  background: url("../img/top-bg.jpg") left top no-repeat;
  min-height: 400px;
  background-size: cover !important;
  padding-top: calc(118px + 120px);
  padding-bottom: 50px;
}

.top-banner__h1 {
  width: 70%;
}

.gl-h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 72px;
  color: #FFFFFF;
}

.gl-h2 {
  font-weight: 800;
  font-size: 44px;
  line-height: 37px;
  color: #000000;
}

.gl-h3 {
  font-weight: 800;
  font-size: 38px;
  line-height: 37px;
  text-align: center;
  color: #000000;
}

.subtitle {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-top: 44px;
  margin-bottom: 55px;
  width: 50%;
}

.btn {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  padding: 0 65px;
  background: #e3e3e3;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  border-radius: 6px;
  color: #FFFFFF;
}

.btn:hover {
  color: #fff;
  text-decoration: none;
}

.btn-blue {
  background: #277ECF;
}

.double {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-banner__double {
  margin-top: 95px;
}

.lang__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 37px;
  color: #484848;
  margin-right: 19px;
}

.lang__link:hover {
  color: #EC681C;
}

.lang__active {
  color: #fff;
}

.socials a {
  margin-left: 12px;
}

.advantages {
  margin-top: 67px;
  margin-bottom: 140px;
}

.advantages__h2 {
  text-align: center;
  margin-bottom: 36px;
}

.advantages__sub {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  width: 68%;
  margin: 0 auto;
}

.advantages__content {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 85px;
}

.advantages__item {
  -ms-flex-preferred-size: 28%;
      flex-basis: 28%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 82px;
}

.advantages__item_ls {
  background: #F4F4F4;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantages__item_rs {
  margin-left: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.advantages__item_title {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  text-align: left;
  margin-bottom: 5px;
}

.advantages__item_p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  width: 90%;
}

.portfolio__tooltips {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 23px 29px;
}

.portfolio__content {
  margin-top: 54px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__tooltip {
  background: rgba(0, 0, 0, 0.27);
  border-radius: 27px;
  font-weight: 600;
  font-size: 10px;
  text-transform: uppercase;
  color: #FFFFFF;
  height: 30px;
  padding: 0 14px;
  line-height: 30px;
  margin-right: 15px;
}

.portfolio__item {
  background: #5D93C6;
  width: 410px;
  overflow: hidden;
  margin-right: 20px;
  margin-bottom: 21px;
  overflow: hidden;
  position: relative;
}

.portfolio__item:nth-child(3n) {
  margin-right: 0;
}

.portfolio__item:after {
  content: '';
  position: absolute;
  bottom: -600px;
  left: -300px;
  width: 600px;
  height: 800px;
  background: #EC681C;
  opacity: 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 1;
}

.portfolio__item:hover {
  text-decoration: none;
}

.portfolio__item:hover::after {
  -webkit-animation: hoverCard 1s forwards;
          animation: hoverCard 1s forwards;
}

.portfolio__img {
  text-align: right;
  z-index: 2;
  position: relative;
}

.portfolio__img img {
  margin-right: -4px;
}

.portfolio__text {
  padding: 30px 29px 50px 42px;
  z-index: 2;
  position: relative;
}

.portfolio__title {
  font-weight: 800;
  font-size: 28px;
  line-height: 37px;
  color: #FFFFFF;
  margin-bottom: 16px;
  text-transform: uppercase;
  z-index: 2;
  position: relative;
}

.portfolio__p {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

@-webkit-keyframes hoverCard {
  0% {

  }

  100% {
    opacity: 1;
    left: 0;
    bottom: -400px;
  }
}

.tarif {
  background: #F9F9F9;
  position: relative;
  min-height: 400px;
  margin-top: 108px;
  margin-bottom: 82px;
}

.tarif__or-bg {
  background: #EC681C;
  border-radius: 0 61px 0 0;
  position: absolute;
  left: -60%;
  top: -26px;
  width: 100%;
  height: calc(100% + 26px);
}

.tarif__ls {
  z-index: 1;
}

.tarif__img {
  width: 636px;
  height: 711px;
  position: relative;
  overflow: hidden;
  border-radius: 0 12px 12px 0;
}

.tarif__img img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.tarif__sub {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin-top: 29px;
  margin-bottom: 50px;
  width: 95%;
}

.tarif__price {
  font-weight: 800;
  font-size: 65px;
  line-height: 37px;
  text-align: center;
  color: #27272E;
}

.tarif__price_sub {
  font-weight: 500;
  font-size: 25px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  margin-top: 20px;
  margin-bottom: 8px;
}

.tarif__p {
  font-weight: 500;
  font-size: 17px;
  line-height: 37px;
  text-align: center;
  color: #8C8C8C;
}

.tarif__item {
  padding-bottom: 20px;
  border-bottom: 1px solid #D6D6D6;
  width: 350px;
  margin-bottom: 22px;
}

.tarif__item:last-child {
  border-bottom: none;
}

.tarif__rs {
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 71px;
  padding-bottom: 81px;
}

.tarif__title {
  font-weight: 800;
  font-size: 36px;
  line-height: 37px;
  text-align: center;
  color: #27272E;
}

.tarif__btn {
  width: 347px;
}

.stage__item {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  position: relative;
}

.stage__item::after {
  content: '';
  position: absolute;
  border-radius: 50%;
  border: 6px solid #fff;
  background: #EC681C;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 28px;
  height: 28px;
  -webkit-box-shadow: 0 0 28px rgba(157, 157, 157, 0.49);
          box-shadow: 0 0 28px rgba(157, 157, 157, 0.49);
}

.stage__cur {
  font-weight: 800;
  font-size: 96px;
  line-height: 24px;
  color: #ECF6FF;
}

.stage__title {
  font-weight: 600;
  font-size: 19px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 12px;
}

.stage__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #878787;
}

.stage__link:hover {
  color: #EC681C;
}

.stage__h2 {
  margin-bottom: 130px;
  text-align: center;
}

.stage__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stage__row .stage__item::after {
  bottom: -52px;
  left: -5px;
}

.stage__row-center {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 150px;
}

.stage__row-center .stage__item::after {
  top: -81px;
  left: -5px;
}

.stage__item-mini {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
}

.orange-line {
  width: 100%;
  height: 5px;
  background: #EC681C;
  margin-top: 36px;
  margin-bottom: 65px;
}

.stage__item-mini::after {
  left: auto !important;
  right: -5px;
}

.review {
  padding-top: 50px;
  padding-bottom: 60px;
  background: #F9F9F9;
  margin: 100px 0;
}

.review__h2 {
  font-weight: 800;
  font-size: 33px;
  line-height: 41px;
  text-align: right;
  color: #000000;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 48px;
}

.review img {
  -webkit-filter: drop-shadow(0px 4px 17px rgba(133, 150, 163, 0.09));
          filter: drop-shadow(0px 4px 17px rgba(133, 150, 163, 0.09));
  border-radius: 5px;
  width: 311px;
}

.review__container .uk-grid > * {
  padding: 0;
}

.dot-nav {
  position: fixed;
  top: 50%;
  right: 80px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 10;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 37px;
  background: #070F1A;
}

.header.uk-sticky-below {
  padding-top: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.header__content {
  height: 85px;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__lnk {
  margin-left: 30px;
  text-decoration: none;
  font-size: 18px;
  line-height: 85px;
  color: #FFFFFF;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 5px;
}

.header__lnk:after {
  display: block;
  position: absolute;
  left: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '';
  background: #EC681C;
  opacity: 0;
}

.header__lnk:hover {
  opacity: 1;
  color: #fff;
  text-decoration: none;
}

.header__lnk:hover:after {
  z-index: -1;
  bottom: 0;
  opacity: 1;
  -webkit-animation: fill 1s forwards;
          animation: fill 1s forwards;
}

.header__lnk:first-child {
  margin-left: 0;
}

/**/

@-webkit-keyframes fill {
  0% {
    width: 0;
    height: 1px;
  }

  50% {
    width: 100%;
    height: 1px;
  }

  100% {
    width: 100%;
    height: 100%;
    background: #EC681C;
  }
}

.footer {
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Адаптив*/

@media screen and (max-width: 1350px) {
  .container {
    width: 100%;
  }

  .header__lnk {
    font-size: 16px;
  }

  .subtitle {
    width: 80%;
  }

  .dot-nav {
    right: 10px;
  }

  .portfolio__item {
    width: 350px;
  }

  .tarif__img {
    width: 500px;
    height: 545px;
  }

  .review img {
    width: 255px;
  }
}

@media screen and (max-width: 1199px) {
  .top-banner {
    padding-top: 160px;
  }

  .gl-h1 {
    font-size: 43px;
    line-height: 47px;
  }

  .subtitle {
    font-size: 17px;
  }

  .btn {
    font-size: 16px;
  }

  .gl-h2 {
    font-size: 35px;
  }

  .advantages__sub {
    font-size: 17px;
  }

  .advantages {
    margin-bottom: 50px;
  }

  .portfolio__item {
    width: 300px;
  }

  .portfolio__text {
    padding: 20px;
  }

  .portfolio__title {
    font-size: 22px;
  }

  .portfolio__p {
    font-size: 16px;
  }

  .portfolio__tooltips {
    padding: 13px 15px;
  }

  .tarif__img {
    width: 400px;
    height: 420px;
  }

  .stage__title {
    font-size: 16px;
  }

  .header__nav {
    display: none;
  }
}

@media screen and (max-width: 1020px) {
  .top-banner__double {
    margin-top: 40px;
  }

  .advantages__item {
    -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
  }

  .portfolio__item {
    width: 46%;
  }

  .portfolio__item:nth-child(3n) {
    margin-right: 20px;
  }

  .tarif .double {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tarif__img {
    display: none;
  }

  .tarif__rs {
    z-index: 2;
    background: #fff;
  }

  .stage-mob-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .stage-mob-wrap .stage__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 45%;
    padding: 0;
  }

  .stage-mob-wrap .orange-line {
    display: none;
  }

  .stage-mob-wrap .stage__item {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 100px;
  }

  .stage-mob-wrap .stage__row .stage__item::after {
    display: none;
  }

  .stage-mob-wrap .stage__row-center .stage__item::after {
    display: none;
  }

  .stage-mob-wrap .stage__row-center {
    padding-top: 100px;
  }

  .review__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .review__h2 {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .header {
    padding-top: 0;
  }
}

@media screen and (max-width: 760px) {
  .top-banner {
    padding-top: 115px;
  }

  .gl-h1 {
    font-size: 30px;
    width: 100%;
  }

  .subtitle {
    width: 100%;
  }

  .lang__link {
    font-size: 16px;
  }

  .gl-h2 {
    font-size: 30px;
  }

  .advantages__sub {
    width: 100%;
  }

  .advantages {
    margin-top: 35px;
    margin-bottom: 0;
  }

  .advantages__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }

  .portfolio__item {
    width: 100%;
    margin-right: 0;
  }

  .portfolio__item:nth-child(3n) {
    margin-right: 0;
  }

  .tarif__or-bg {
    left: -10%;
  }

  .gl-h3 {
    font-size: 30px;
  }

  .tarif__sub {
    font-size: 16px;
  }

  .tarif__price {
    font-size: 50px;
  }

  .tarif__price_sub {
    font-size: 20px;
  }

  .tarif__btn {
    width: 80%;
  }

  .review {
    margin: 0;
  }

  .review .uk-grid {
    margin-left: 0;
  }
}
@supports (-webkit-appearance:none){
.top-banner{background:url("../img/top-bg.webp") left top no-repeat}
}

 @media screen and (max-width: 1350px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1199px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 1020px){

@supports (-webkit-appearance:none){

}

}

 @media screen and (max-width: 760px){

@supports (-webkit-appearance:none){

}

}
