.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 37px;
  background: #070F1A;

  &.uk-sticky-below{
    padding-top: 0;
    transition: all 0.3s;
  }

  &__content {
    height: 85px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__lnk {
    margin-left: 30px;
    text-decoration: none;
    font-size: 18px;
    line-height: 85px;
    color: #FFFFFF;
    position: relative;
    z-index: 1;
    overflow: hidden;
    padding: 5px;

    &:after {
      display: block;
      position: absolute;
      left: 0;
      margin: auto;
      width: 100%;
      height: 1px;
      content: '';
      background: #EC681C;
      opacity: 0;
    }

    &:hover {
      opacity: 1;
      color: #fff;
      text-decoration: none;

      &:after {
        z-index: -1;
        bottom: 0;
        opacity: 1;
        animation: fill 1s forwards;
      }
    }

    &:first-child {
      margin-left: 0;
    }
  }
}
/**/
@-webkit-keyframes fill {
  0% {
    width: 0;
    height: 1px;
  }

  50% {
    width: 100%;
    height: 1px;
  }

  100% {
    width: 100%;
    height: 100%;
    background: #EC681C;
  }
}
