* {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 1;
}

input {
  outline: none;
}

.container {
  width: 1330px;
  padding: 0 30px;
  box-sizing: border-box;
  margin: 0 auto;
}

.main {}

.top-banner {
  background: url("../img/top-bg.jpg")left top no-repeat;
  min-height: 400px;
  background-size: cover !important;
  padding-top: calc(118px + 120px);
  padding-bottom: 50px;

  &__h1 {
    width: 70%;
  }
}

.gl-h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 72px;
  color: #FFFFFF;
}

.gl-h2 {
  font-weight: 800;
  font-size: 44px;
  line-height: 37px;
  color: #000000;
}

.gl-h3 {
  font-weight: 800;
  font-size: 38px;
  line-height: 37px;
  text-align: center;
  color: #000000;
}

.subtitle {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin-top: 44px;
  margin-bottom: 55px;
  width: 50%;
}

.btn {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  padding: 0 65px;
  background: #e3e3e3;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  letter-spacing: 0.02em;
  border-radius: 6px;
  color: #FFFFFF;

  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.btn-blue {
  background: #277ECF;
}

.double {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-banner__double {
  margin-top: 95px;
}

.lang {
  &__link {
    font-weight: normal;
    font-size: 18px;
    line-height: 37px;
    color: #484848;
    margin-right: 19px;

    &:hover {
      color: #EC681C;
    }
  }

  &__active {
    color: #fff;
  }
}

.socials {
  a {
    margin-left: 12px;
  }
}

.advantages {
  margin-top: 67px;
  margin-bottom: 140px;

  &__h2 {
    text-align: center;
    margin-bottom: 36px;
  }

  &__sub {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    width: 68%;
    margin: 0 auto;
  }

  &__content {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 85px;
  }

  &__item {
    flex-basis: 28%;
    align-items: flex-start;
    margin-bottom: 82px;
  }

  &__item_ls {
    background: #F4F4F4;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__item_rs {
    margin-left: 24px;
    flex: 1;
  }

  &__item_title {
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    text-align: left;
    margin-bottom: 5px;
  }

  &__item_p {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    width: 90%;
  }
}

.portfolio {
  &__tooltips {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    padding: 23px 29px;
  }

  &__content {
    margin-top: 54px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-wrap: wrap;
  }

  &__tooltip {
    background: rgba(0,0,0, 0.27);
    border-radius: 27px;
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    height: 30px;
    padding: 0 14px;
    line-height: 30px;
    margin-right: 15px;
  }

  &__item {
    background: #5D93C6;
    width: 410px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 21px;
    overflow: hidden;
    position: relative;

    &:nth-child(3n) {
      margin-right: 0;
    };

    &:after {
      content: '';
      position: absolute;
      bottom: -600px;
      left: -300px;
      width: 600px;
      height: 800px;
      background: #EC681C;
      opacity: 0;
      transform: rotate(45deg);
      z-index: 1;
    }

    &:hover {
      text-decoration: none;

      &::after {
        animation: hoverCard 1s forwards;
      }
    }
  }

  &__img {
    text-align: right;
    z-index: 2;
    position: relative;

    img {
      margin-right: -4px;
    }
  }

  &__text {
    padding: 30px 29px 50px 42px;
    z-index: 2;
    position: relative;
  }

  &__title {
    font-weight: 800;
    font-size: 28px;
    line-height: 37px;
    color: #FFFFFF;
    margin-bottom: 16px;
    text-transform: uppercase;
    z-index: 2;
    position: relative;
  }

  &__p {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
  }
}
@-webkit-keyframes hoverCard {
  0% {}

  100% {
    opacity: 1;
    left: 0;
    bottom: -400px;
  }
}

.tarif {
  background: #F9F9F9;
  position: relative;
  min-height: 400px;
  margin-top: 108px;
  margin-bottom: 82px;

  &__or-bg {
    background: #EC681C;
    border-radius: 0 61px 0 0;
    position: absolute;
    left: -60%;
    top: -26px;
    width: 100%;
    height: calc(100% + 26px);
  }

  &__ls {
    z-index: 1;
  }

  &__img {
    @include img(636px, 711px);
    border-radius: 0 12px 12px 0;
  }

  &__sub {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-top: 29px;
    margin-bottom: 50px;
    width: 95%;
  }

  &__price {
    font-weight: 800;
    font-size: 65px;
    line-height: 37px;
    text-align: center;
    color: #27272E;
  }

  &__price_sub {
    font-weight: 500;
    font-size: 25px;
    line-height: 37px;
    text-align: center;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 8px;
  }

  &__p {
    font-weight: 500;
    font-size: 17px;
    line-height: 37px;
    text-align: center;
    color: #8C8C8C;
  }

  &__item {
    padding-bottom: 20px;
    border-bottom: 1px solid #D6D6D6;
    width: 350px;
    margin-bottom: 22px;

    &:last-child {
      border-bottom: none;
    }
  }

  &__rs {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 71px;
    padding-bottom: 81px;
  }

  &__title {
    font-weight: 800;
    font-size: 36px;
    line-height: 37px;
    text-align: center;
    color: #27272E;
  }

  &__btn {
    width: 347px;
  }
}

.stage {
  &__item {
    flex-basis: 25%;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      border-radius: 50%;
      border: 6px solid #fff;
      background: #EC681C;
      box-sizing: border-box;
      width: 28px;
      height: 28px;
      box-shadow: 0 0 28px rgba(157, 157, 157, 0.49);
    }
  }

  &__cur {
    font-weight: 800;
    font-size: 96px;
    line-height: 24px;
    color: #ECF6FF;
  }

  &__title {
    font-weight: 600;
    font-size: 19px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 12px;
  }

  &__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #878787;

    &:hover {
      color: #EC681C;
    }
  }

  &__h2 {
    margin-bottom: 130px;
    text-align: center;
  }

  &__row {
    display: flex;
    justify-content: space-between;

    .stage__item::after {
      bottom: -52px;
      left: -5px;
    }
  }

  &__row-center {
    justify-content: space-around;
    padding-left: 150px;

    .stage__item::after {
      top: -81px;
      left: -5px;
    }
  }

  &__item-mini {
    flex-basis: 10%;
  }
}

.orange-line {
  width: 100%;
  height: 5px;
  background: #EC681C;
  margin-top: 36px;
  margin-bottom: 65px;
}

.stage__item-mini::after {
  left: auto !important;
  right: -5px;
}

.review {
  padding-top: 50px;
  padding-bottom: 60px;
  background: #F9F9F9;
  margin: 100px 0;

  &__h2 {
    font-weight: 800;
    font-size: 33px;
    line-height: 41px;
    text-align: right;
    color: #000000;
    flex: 1;
    margin-right: 48px;
  }

  img {
    filter: drop-shadow(0px 4px 17px rgba(133, 150, 163, 0.09));
    border-radius: 5px;
    width: 311px;
  }

  &__container{
    .uk-grid>*{
      padding: 0;
    }
  }
}

.dot-nav{
  position: fixed;
  top: 50%;
  right: 80px;
  transform: translate(0, -50%);
  z-index: 10;
}
