@media screen and (max-width: 1350px) {
  .container {
    width: 100%;
  }

  .header__lnk {
    font-size: 16px;
  }

  .subtitle {
    width: 80%;
  }

  .dot-nav {
    right: 10px;
  }

  .portfolio__item {
    width: 350px;
  }

  .tarif__img {
    width: 500px;
    height: 545px;
  }

  .review img{
    width: 255px;
  }
}
