@media screen and (max-width: 1199px) {
  .top-banner {
    padding-top: 160px;
  }

  .gl-h1 {
    font-size: 43px;
    line-height: 47px;
  }

  .subtitle {
    font-size: 17px;
  }

  .btn {
    font-size: 16px;
  }

  .gl-h2 {
    font-size: 35px;
  }

  .advantages__sub {
    font-size: 17px;
  }

  .advantages {
    margin-bottom: 50px;
  }

  .portfolio__item {
    width: 300px;
  }

  .portfolio__text {
    padding: 20px;
  }

  .portfolio__title {
    font-size: 22px;
  }

  .portfolio__p {
    font-size: 16px;
  }

  .portfolio__tooltips {
    padding: 13px 15px;
  }

  .tarif__img {
    width: 400px;
    height: 420px;
  }

  .stage__title {
    font-size: 16px;
  }

  .header__nav {
    display: none;
  }
}
@media screen and (max-width: 1020px) {
  .top-banner__double {
    margin-top: 40px;
  }

  .advantages__item {
    flex-basis: 49%;
  }

  .portfolio__item {
    width: 46%;
  }

  .portfolio__item:nth-child(3n) {
    margin-right: 20px;
  }

  .tarif {
    .double {
      flex-direction: column;
    }
  }

  .tarif__img {
    display: none;
  }

  .tarif__rs {
    z-index: 2;
    background: #fff;
  }

  .stage-mob-wrap {
    display: flex;
    justify-content: space-between;

    .stage__row {
      flex-direction: column;
      width: 45%;
      padding: 0;
    }

    .orange-line {
      display: none;
    }

    .stage__item {
      flex: 1;
      margin-bottom: 100px;
    }

    .stage__row .stage__item::after {
      display: none;
    }

    .stage__row-center .stage__item::after {
      display: none;
    }

    .stage__row-center {
      padding-top: 100px;
    }
  }

  .review__container {
    flex-direction: column;
  }

  .review__h2 {
    margin-right: 0;
    margin-bottom: 40px;
  }

  .header {
    padding-top: 0;
  }
}
@media screen and (max-width: 760px) {
  .top-banner {
    padding-top: 115px;
  }

  .gl-h1 {
    font-size: 30px;
    width: 100%;
  }

  .subtitle {
    width: 100%;
  }

  .lang__link {
    font-size: 16px;
  }

  .gl-h2 {
    font-size: 30px;
  }

  .advantages__sub {
    width: 100%;
  }

  .advantages {
    margin-top: 35px;
    margin-bottom: 0;
  }

  .advantages__item {
    flex-basis: 100%;
  }

  .portfolio__item{
    width: 100%;
    margin-right: 0;
    &:nth-child(3n){
      margin-right: 0;
    }
  }

  .tarif__or-bg{
    left: -10%;
  }

  .gl-h3{
    font-size: 30px;
  }

  .tarif__sub{
    font-size: 16px;
  }

  .tarif__price{
    font-size: 50px;
  }

  .tarif__price_sub{
    font-size: 20px;
  }

  .tarif__btn{
    width: 80%;
  }

  .review{
    margin: 0;

    .uk-grid{
      margin-left: 0;
    }
  }
}
