  @@include('_header.html')
  <main class="main">
    <article class="top-banner dot-nav-item" id="top">
      <section class="container">
        <h1 class="gl-h1 top-banner__h1">Разработка сайтов любой сложности на «1С-Битрикс»</h1>
        <p class="subtitle">| Корпоративные сайты и порталы | Личные кабинеты | <br>
          | Любые системы сопутствующих сервисов |<br>
          | Интеграция любого уровня сложности | </p>

        <a href="#" class="btn-blue btn">Связаться с нами</a>

        <div class="double top-banner__double">
          <div class="lang">
            <a href="#" class="lang__link lang__active">RUS</a>
            <a href="#" class="lang__link">ENG</a>
          </div>

          <div class="socials">
            <a href="#"><img src="img/fb.svg" alt=""></a>
            <a href="#"><img src="img/vk.svg" alt=""></a>
          </div>
        </div>
      </section>
    </article>

    <article class="advantages dot-nav-item" id="advantages">
      <section class="container">
        <h2 class="gl-h2 advantages__h2">Преимущества</h2>
        <p class="advantages__sub">Наша команда с 2010 года реализует самые разные WEB-проекты, используя весь арсенал современных методик и инструментов разработки ПО. Пожалуй, мы знаем об интернет-решениях почти всё! </p>

        <div class="advantages__content">

          <div class="advantages__item double">
            <div class="advantages__item_ls">
              <img src="img/a1.svg" alt="">
            </div>
            <div class="advantages__item_rs">
              <h4 class="advantages__item_title">БОЛЬШОЙ ОПЫТ</h4>
              <p class="advantages__item_p">300+ различных IT-проектов и WEB-разработок</p>
            </div>
          </div>

          <div class="advantages__item double">
            <div class="advantages__item_ls">
              <img src="img/a2.svg" alt="">
            </div>
            <div class="advantages__item_rs">
              <h4 class="advantages__item_title">ГИБКОСТЬ</h4>
              <p class="advantages__item_p">Анализируем и контролируем любой проект с точки зрения технологических возможностей</p>
            </div>
          </div>

          <div class="advantages__item double">
            <div class="advantages__item_ls">
              <img src="img/a3.svg" alt="">
            </div>
            <div class="advantages__item_rs">
              <h4 class="advantages__item_title">СТАБИЛЬНОСТЬ</h4>
              <p class="advantages__item_p">Доверие более 100 постоянных клиентов</p>
            </div>
          </div>

          <div class="advantages__item double">
            <div class="advantages__item_ls">
              <img src="img/a4.svg" alt="">
            </div>
            <div class="advantages__item_rs">
              <h4 class="advantages__item_title">МОЩНАЯ КОМАНДА</h4>
              <p class="advantages__item_p">Формируем из своих специалистов проектную команду с учетом специфики вашей задачи</p>
            </div>
          </div>

          <div class="advantages__item double">
            <div class="advantages__item_ls">
              <img src="img/a5.svg" alt="">
            </div>
            <div class="advantages__item_rs">
              <h4 class="advantages__item_title">СЕРТИФИКАЦИЯ</h4>
              <p class="advantages__item_p">Компания G-Lab Сертифицированный партнер 1С-Битрикс</p>
            </div>
          </div>

          <div class="advantages__item double">
            <div class="advantages__item_ls">
              <img src="img/a6.svg" alt="">
            </div>
            <div class="advantages__item_rs">
              <h4 class="advantages__item_title">ГРАМОТНОСТЬ</h4>
              <p class="advantages__item_p">Избегаем лишних решений, оптимально подходим к проектам, используем как уникальную разработку, так и готовые конструкции, придавая им индивидуальный характер.</p>
            </div>
          </div>

        </div>
      </section>
    </article>

    <article class="portfolio dot-nav-item" id="portfolio">
      <section class="container">
        <h2 class="gl-h2 portfolio__h2">Портфолио</h2>

        <div class="portfolio__content">

          <a href="#" class="portfolio__item">
            <div class="portfolio__tooltips">
              <div class="portfolio__tooltip">разработка</div>
            </div>
            <div class="portfolio__img">
              <img src="img/p1.svg" alt="">
            </div>
            <div class="portfolio__text">
              <div class="portfolio__title">МГЮА</div>
              <p class="portfolio__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
          </a>

          <a href="#" class="portfolio__item">
            <div class="portfolio__tooltips">
              <div class="portfolio__tooltip">разработка</div>
              <div class="portfolio__tooltip">дизайн</div>
            </div>
            <div class="portfolio__img">
              <img src="img/p2.svg" alt="">
            </div>
            <div class="portfolio__text">
              <div class="portfolio__title">TINONA</div>
              <p class="portfolio__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
          </a>

          <a href="#" class="portfolio__item">
            <div class="portfolio__tooltips">
              <div class="portfolio__tooltip">разработка</div>
              <div class="portfolio__tooltip">дизайн</div>
            </div>
            <div class="portfolio__img">
              <img src="img/p3.svg" alt="">
            </div>
            <div class="portfolio__text">
              <div class="portfolio__title">emmi-home</div>
              <p class="portfolio__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
          </a>

          <a href="#" class="portfolio__item">
            <div class="portfolio__tooltips">
              <div class="portfolio__tooltip">разработка</div>
              <div class="portfolio__tooltip">дизайн</div>
            </div>
            <div class="portfolio__img">
              <img src="img/p4.svg" alt="">
            </div>
            <div class="portfolio__text">
              <div class="portfolio__title">ПОЛАЙТ.РФ</div>
              <p class="portfolio__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
          </a>

          <a href="#" class="portfolio__item">
            <div class="portfolio__tooltips">
              <div class="portfolio__tooltip">разработка</div>
              <div class="portfolio__tooltip">дизайн</div>
            </div>
            <div class="portfolio__img">
              <img src="img/p5.svg" alt="">
            </div>
            <div class="portfolio__text">
              <div class="portfolio__title">cyprusfine</div>
              <p class="portfolio__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
          </a>

          <a href="#" class="portfolio__item">
            <div class="portfolio__tooltips">
              <div class="portfolio__tooltip">разработка</div>
              <div class="portfolio__tooltip">дизайн</div>
            </div>
            <div class="portfolio__img">
              <img src="img/p6.svg" alt="">
            </div>
            <div class="portfolio__text">
              <div class="portfolio__title">hobbyline</div>
              <p class="portfolio__p">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
          </a>

        </div>

      </section>
    </article>

    <article class="tarif dot-nav-item" id="tarif">
      <aside class="tarif__or-bg"></aside>
      <section class="container double">
        <section class="tarif__ls">
          <div class="tarif__img">
            <img src="img/tarif.jpg" alt="">
          </div>
        </section>
        <section class="tarif__rs">
          <h3 class="gl-h3">Тариф и сроки</h3>
          <p class="tarif__sub">У нас действует единый тариф для всех клиентов. Мы предварительно рассчитываем количество часов, необходимое для работы.</p>

          <div class="tarif__item">
            <div class="tarif__price">2 600</div>
            <p class="tarif__price_sub">рублей/час</p>
            <p class="tarif__p">при объеме работы < 100 часов</p>
          </div>

          <div class="tarif__item">
            <div class="tarif__title">Скидка 10%</div>
            <p class="tarif__p">при объеме работы >100 часов</p>
          </div>

          <div class="tarif__item">
            <div class="tarif__title">Скидка 15%</div>
            <p class="tarif__p">при объеме работы >200 часов</p>
          </div>

          <a href="#" class="btn-blue btn tarif__btn">Связаться с нами</a>
        </section>
      </section>
    </article>

    <article class="stage" id="stage">
      <section class="container">
        <h2 class="gl-h2 stage__h2">Этапы разработки</h2>

        <div class="stage-mob-wrap">
          <div class="stage__row">

            <div class="stage__item">
              <div class="stage__cur">1</div>
              <div class="stage__title">Проведение аналитики
                и всесторонней консультации на стороне заказчика</div>
              <a href="#" class="stage__link">Подробнее</a>
            </div>

            <div class="stage__item">
              <div class="stage__cur">3</div>
              <div class="stage__title">Согласование с заказчиком
                подготовленного
                технического задания</div>
              <a href="#" class="stage__link">Подробнее</a>
            </div>

            <div class="stage__item stage__item-mini">
              <div class="stage__cur">5</div>
              <div class="stage__title">Реализация <br> проекта</div>
              <a href="#" class="stage__link">Подробнее</a>
            </div>

          </div>

          <div class="orange-line"></div>


          <div class="stage__row stage__row-center">

            <div class="stage__item">
              <div class="stage__cur">2</div>
              <div class="stage__title">Проведение тщательной
                проработки возможных
                решений</div>
              <a href="#" class="stage__link">Подробнее</a>
            </div>

            <div class="stage__item">
              <div class="stage__cur">4</div>
              <div class="stage__title">Разработка плана
                проектирования</div>
              <a href="#" class="stage__link">Подробнее</a>
            </div>
          </div>
        </div>
      </section>
    </article>

    <article class="review dot-nav-item" id="review">
      <section class="container double review__container">
        <h2 class="review__h2">
          Отзывы и
          благодарности
        </h2>

        <div class="review__content">
          <!-- <img src="img/rev1.jpg" alt="">
          <img src="img/rev2.jpg" alt="">
          <img src="img/rev3.jpg" alt=""> -->
          <div class="uk-child-width-1-2 uk-child-width-1-3@s" uk-grid uk-lightbox="animation: scale">
            <div>
              <a class="uk-inline" href="img/rev1.jpg" data-caption="Caption 1">
                <img src="img/rev1.jpg" alt="">
              </a>
            </div>
            <div>
              <a class="uk-inline" href="img/rev2.jpg" data-caption="Caption 2">
                <img src="img/rev2.jpg" alt="">
              </a>
            </div>
            <div>
              <a class="uk-inline" href="img/rev3.jpg" data-caption="Caption 3">
                <img src="img/rev3.jpg" alt="">
              </a>
            </div>
          </div>
        </div>
      </section>
    </article>

  </main>
  @@include('_footer.html')